html {
    overflow-x: hidden;
    overflow-y: hidden;
}

canvas {
    display: block;
}
  
.dflex {
    display: flex;
}

.fdc {
    flex-direction: column;
}

.jcc {
    justify-content: center;
}
  
.aic {
    align-items: center;
}

.absolute {
    position: absolute;
    top: 0px;    
}